*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
}
.conteiner {
	width: 100%;
	margin:  0 auto;
}
.parent {
	display: grid;
	grid-template-columns: 16.7% auto;
}

/* --styles for sidebar-- */
.sidebar {
    grid-row: span 3;
}
.black-box{
    max-width:319px;
    width:100%;
    margin:0 auto;
    height:65%;
    background-color:#222222;
    padding-top: 42px;
}
.elements-in-sidebar {
    max-width:220px;
    width:100%;
    margin:0 auto;
}
.sidebar-flex-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;
}
.design-today {
    max-width:146px;
    width:100%;
    font-family: 'Avenir-book';
}
.sidebar-img-1{
    max-width:26px;
    width:100%;
}
.sidebar-flex-2 {
    display:flex;
    flex-direction: column;
    gap:30px;
    padding-left: 30px;
}
.sidebar-icon{
    max-width:24px;
    width:100%;
}
.icon-text{
    color: #FFFFFF;
    font-size:16px;
    font-family: 'Avenir-Medium';
}
.sidebar-icon-section{
    display:flex;
    gap:15px;
}
.home-section{
    background-color: #FF2288;
    border-radius:12px;
}
.home{
    padding-top:19px;
    padding-bottom: 20px;
    border-radius:12px;
}
.sidebar-flex-3 {
    display:flex;
    flex-direction: column;
    gap:15px;
    padding-left: 30px;
    margin-top:67px;
}
.sidebar-designers{
    max-width: 44px;
    width:100%;
}
.sidebar-designer-section{
    display: flex;
    gap:20px;
}
.navbar-text {
    color:#FFFFFF;
    font-size: 12px;
    font-family: 'Avenir-heavy';
}
    /* --styles for header-- */

.header-icons {
    display: flex;
    gap: 30px;
    margin:30px 91px 71px 25px;
    align-items: center;
    justify-content: flex-end;        
}
.first-item {
    margin-right: auto;
}
.go-pro{
    color:#FF2288;
    font-size: 14px;
    font-family: 'Avenir-heavy';
}
.upload-button{
    background-color: #FF2288;
    color:#FFFFFF;
    font-size:14px;
    font-family: 'Avenir-heavy';
    padding: 17px 40px 20px 36px;
    border-radius: 12px;
}
#search {
    background-color: #F8F8F8;
    border-radius: 12px;
    outline: none;
    border-color: #F8F8F8;
    max-width: 446px;
    width:100%;
    font-family: 'Avenir-heavy'; 
    font-size: 14px;
} 
/* --Footer Styles-- */

.footer-section{
    max-width:1094px;
    width:100%;
    margin:0 auto;
}
.grid-table {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows:auto auto auto auto auto auto auto auto auto auto auto;
    grid-auto-rows: minmax(21px, auto);
    margin-top:69px;
}

.footer-item-1 {
grid-row: span 2;
}
.footer-item-2 {
    grid-row: span 2;  
}
.footer-item-3 {
    grid-row: span 2;  
}
.footer-item-4 {
    grid-row: span 2;
}
.footer-item-14 {
    grid-row: span 2;   
}
.footer-item-32 {
    grid-row: span 2;    
}
.footer-item-23 {
    grid-row: span 2;    
}
.footer-item-21 {
    grid-row: span 2;    
}
.footer-item-27 {
    grid-row: span 3;    
}
.footer-item-30 {
    grid-row: span 2;    
}
a {
    text-decoration: none;
    color: #ffff;
    font-family: 'Avenir-book';
    font-size:16px;
}
.social-icon {
    max-width: 24px;
    width:100%;
    margin-right:20px;
}

.icons-for-flex {
    max-width: 1024px;
    width:100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 153px;
    margin-bottom: 43px;
}
.for-smartacademy{
    margin-left: auto;
}

.for-smartacademy{
    display: flex;
    max-width: 144px;
    width:100%; 
}


.for {
    font-family: 'Avenir-book';
    font-size:16px;
    color:black;
    padding-right: 5px;
}
.smartacademy {
    font-family: 'Avenir-black';
    font-size:16px;
    color:black;
} 

/* --table-section-- */


.table-conteiner {
    max-width: 1024px;
    width:100%;
    margin:0 auto;
}

 td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    color:#AFAFAF;
    font-size:16px;
    font-family: 'Avenir-heavy'; 
    opacity: 1; 
  }
  th {
    border-bottom: 1px solid #ddd;
    text-align: left;
    color:#111111;
    font-size:18px;
    font-family: 'Avenir-heavy';  
    opacity: 1; 
  }
  table {
    width: 100%;
  }
  tr:hover {background-color: #FF2288;}
 
  td {
      height:72px;
  }