*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
}
.conteiner {
	width: 100%;
	margin:  0 auto;
}
.parent {
	display: grid;
	grid-template-columns: 16.7% auto;
}

/* --styles for sidebar-- */
.sidebar {
    grid-row: span 4;
}
.black-box{
    max-width:319px;
    width:100%;
    margin:0 auto;
    height:49.3%;
    background-color:#222222;
    padding-top: 42px;
}
.elements-in-sidebar {
    max-width:220px;
    width:100%;
    margin:0 auto;
}
.sidebar-flex-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;
}
.design-today {
    max-width:146px;
    width:100%;
    font-family: 'Avenir-book';
}
.sidebar-img-1{
    max-width:26px;
    width:100%;
}
.sidebar-flex-2 {
    display:flex;
    flex-direction: column;
    gap:30px;
    padding-left: 30px;
}
.sidebar-icon{
    max-width:24px;
    width:100%;
}
.icon-text{
    color: #FFFFFF;
    font-size:16px;
    font-family: 'Avenir-Medium';
}
.sidebar-icon-section{
    display:flex;
    gap:15px;
}
.home-section{
    background-color: #FF2288;
    border-radius:12px;
}
.home{
    padding-top:19px;
    padding-bottom: 20px;
    border-radius:12px;
}
.sidebar-flex-3 {
    display:flex;
    flex-direction: column;
    gap:15px;
    padding-left: 30px;
    margin-top:67px;
}
.sidebar-designers{
    max-width: 44px;
    width:100%;
}
.sidebar-designer-section{
    display: flex;
    gap:20px;
}
.navbar-text {
    color:#FFFFFF;
    font-size: 12px;
    font-family: 'Avenir-heavy';
}

/* --Styles for header-- */
.header-icons {
    display: flex;
    gap: 30px;
    margin:30px 91px 71px 25px;
    align-items: center;
    justify-content: flex-end;  
}
.first-item {
    margin-right: auto;
}
.go-pro{
    color:#FF2288;
    font-size: 14px;
    font-family: 'Avenir-heavy';
}
.upload-button{
    background-color: #FF2288;
    color:#FFFFFF;
    font-size:14px;
    font-family: 'Avenir-heavy';
    padding: 17px 40px 20px 36px;
    border-radius: 12px;
}
#search {
    background-color: #F8F8F8;
    border-radius: 12px;
    outline: none;
    border-color: #F8F8F8;
    max-width: 446px;
    width:100%;
    font-family: 'Avenir-heavy'; 
    font-size: 14px;
    background-image: url('../images/search-icon.svg');
    background-repeat: no-repeat;
    background-position:right center;
    outline: 0;
} 
/* --styles for main menu-- */

.mid-conteiner {
    max-width: 1231px;
    width: 100%;
    margin: 0 auto;
}
.navbar-ul {
    display: flex;
    list-style-type: none;
    font-family: 'Avenir-heavy';
    gap: 50px;

}
.ul-and-filter {
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px 19px 18px;
}
a {
    text-decoration: none;
    color: #222222;
    font-family: 'Avenir-book';
    font-size:16px;
}
.all {
    background-color: #F2F2F2;
    border-radius: 12px;
    padding: 16px 20px 19px 18px;
}
#filter {
    max-width: 132px;
    width:100%;
    border-radius: 12px;
    font-family: 'Avenir-heavy';
    border-color: #D8D8D8;
    background-image: url('../images/filter-icon.svg');
    background-repeat: no-repeat;
    background-position:left center;
}
.grid-mid-menu {
    width:100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    /* column-gap: 25px; */
}  

.main-menu-img {
    max-width: 289px;
    width:100%;
}
.image-text {
    font-size: 18px;
    font-family: 'Avenir-Medium';
    color:#222222;
}
.image-text-box{
    display: flex;
    max-width:289px;
    width:100%;
    flex-wrap: wrap;
    padding-left:25px;
    padding-right:25px;
}
.load-more {
    font-size:16px;
    font-family: 'Avenir-heavy';
    padding: 16px 108px 19px 105px;
    background-color: #F2F2F2;
    border-radius: 12px;
}
.span-box {
    max-width:289px;
    width:100%;
    margin:0 auto;
    text-align: center;
    margin-top:70px;
    margin-bottom: 70px;
}

/* --Styles for designers-section-- */


.designer-box {
background-color:#FAFAFA;
}
.designer-box-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 67px; 
}
.top-designers {
    font-size: 32px;
    font-family: 'Avenir-heavy';
}
.view-all{
    font-size: 14px;
    font-family: 'Avenir-heavy';
    opacity: 0.3;
}
.round-images-flex{
   display: flex;
    justify-content: space-between;
    gap:25px;
    margin-top: 54px;
    text-align: center;
}
.round-img-section{
    max-width: 132px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.round-image {
    max-width: 132px;
    width:100%;
}
.name{
    font-size:16px;
    font-family: 'Avenir-Medium';
    opacity: 1;
}
.country{
    font-size:12px;
    font-family: 'Avenir-book';
    opacity: 0.6;
}
.following{
    background-color:#D8D8D8; 
    font-size: 14px;
    font-family: 'Avenir-heavy';
    padding: 12px 47px 13px 43px;
    opacity: 1;
    border-radius: 12px;
}
.follow{
    font-size: 14px;
    font-family: 'Avenir-heavy';
    padding: 12px 47px 13px 43px;
    opacity: 1;
    background-color: #F2F2F2;
    border-radius: 12px;
}

/* --Footer Styles-- */

.footer-section{
    max-width:1094px;
    width:100%;
    margin:0 auto;
}
.grid-table {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows:auto auto auto auto auto auto auto auto auto auto auto;
    grid-auto-rows: minmax(21px, auto);
    margin-top:69px;
}

.footer-item-1 {
grid-row: span 2;
}
.footer-item-2 {
    grid-row: span 2;  
}
.footer-item-3 {
    grid-row: span 2;  
}
.footer-item-4 {
    grid-row: span 2;
}
.footer-item-14 {
    grid-row: span 2;   
}
.footer-item-32 {
    grid-row: span 2;    
}
.footer-item-23 {
    grid-row: span 2;    
}
.footer-item-21 {
    grid-row: span 2;    
}
.footer-item-27 {
    grid-row: span 3;    
}
.footer-item-30 {
    grid-row: span 2;    
}
.social-icon {
    max-width: 24px;
    margin-right:20px;
}

.icons-for-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 153px;
}

/* .for-smartacademy{
    display: flex;
    margin-right: 184px;
}
.for {
    margin-right:5px;
    font-family: 'Avenir-book';
    font-size:16px;
}
.smartacademy {
    margin-right:5px;
    font-family: 'Avenir-black';
    font-size:16px;
} 